<h3>{{title}} - {{displayQuery}}</h3>
<form #myForm="ngForm" (ngSubmit)="sendQuery()">
  <div *ngFor="let key of modelKeys">
    {{key}}
    <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" required *ngIf="key === 'q'"/>
    <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" minlength='2' maxlength='4' *ngIf="key === 'stars'"/>
    <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" *ngIf="key !== 'q' && key !== 'stars'" appNoSpecialChars />
  </div>
  
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>


<div *ngIf="searchResults; else elseBlock">
  <div *ngIf="(searchResults.repositories.total_count > 0 || searchResults.code.total_count > 0); else noResult">
    <h3 class="total">Total results: {{searchResults.repositories.total_count}}</h3>
    <ul class="list">
      <app-repository-display [searchResults]="searchResults.repositories" [favorites]="favorites" (updateFavorites)="handleFavorite($event)" *ngIf="searchResults.repositories" appFade></app-repository-display>
      <app-code-display [searchResults]="searchResults.code" [favorites]="favorites" (updateFavorites)="handleFavorite($event)" *ngIf="searchResults.code" appFade></app-code-display>
    </ul>
  </div>
</div>
<ng-template #elseBlock>Loading...</ng-template>
<ng-template #noResult>No items found for this query!</ng-template>
